
	<style type="text/css">

	body{
		background-color: lightgrey: 
	}
		h1{
			color: indigo;
			font-size: 50px;
			text-decoration: bold
		}

		h2{
			font-size: 20px;
			color: orange;
		}
        #first{
        	font-size: 70
        }
        .small{
        	font-size: 82px;
        }


        span{
        	font-style: italic;
        }

 
        h2 span{
        	text-decoration: line-through;
        }

	</style>